* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    /* height: 100vh; */
    font-family: 'Indie Flower', cursive;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: bisque;
}

.header__title, .header__subtitle {
    margin: 0;      
}

.container {
    display: flex;
    height: inherit;
}

.container__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: khaki;
}

.container__content--title {
    align-self: flex-start;
    margin-left: 8%;
    margin-top: 0;
}

.container__content--movie, .container__content--comments {
    max-width: 95%;
}

.aside {
    display: flex;
    flex-flow: column;
    background-color: lavenderblush;
    flex: 0 0 10%;
    justify-content: stretch;
    align-items: stretch;
}

.aside__title {
    align-self: center;
}

.aside__title {
    margin-top: 20%;
}

.aside__button--play, .aside__button--mute {
    margin: 7%;
}

.ads {
    padding: 4px;
    padding-right: 8px;
    background: white;
    width: 80%;
  
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .ads__link {
    display: flex;
    color: inherit;
    text-decoration: inherit;
  }
  
  .ads__img {
    width: 80px;
    min-width: 80px;
    height: 80px;
    margin-right: 16px;
  }
  
  .ads__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .ads__title {
    margin: 0;
  }
  .ads__body {
    margin: 0;
  }
